.p-0 {
  padding: 0;
}
.p-1 {
  padding: 4px;
}
.p-2 {
  padding: 8px;
}
.p-3 {
  padding: 12px;
}
.p-4 {
  padding: 16px;
}

.pl-0 {
  padding-left: 0;
}
.pl-1 {
  padding-left: 4px;
}
.pl-2 {
  padding-left: 8px;
}

.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.px-6 {
  padding-left: 24px;
  padding-right: 24px;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pr-0 {
  padding-right: 0;
}
.pr-1 {
  padding-right: 4px;
}
.pr-2 {
  padding-right: 8px;
}
