.p-0 {
  padding: 0;
}
.p-1 {
  padding: 5px;
}
.p-2 {
  padding: 10px;
}

.pl-0 {
  padding-left: 0;
}
.pl-1 {
  padding-left: 5px;
}
.pl-2 {
  padding-left: 10px;
}

.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.pr-0 {
  padding-right: 0;
}
.pr-1 {
  padding-right: 5px;
}
.pr-2 {
  padding-right: 10px;
}
