.mdl-dialog {
  width: 80%;
  max-width: 600px;
  max-height: calc(100vh - 160px);
  position: fixed;
  overflow-y: auto;
  z-index: 100;
  top: 64px;
}

.mdl-dialog--wide {
  max-width: 1200px;
}

.mdl-card__actions {
  text-align: end;
}

.clickable {
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}
