.mdl-dialog {
  width: 50%;
  z-index: 100;
  position: fixed;
  top: 64px;
}

.mdl-card__actions {
  text-align: end;
}

.clickable {
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}
